* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(102, 102, 102);
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 60px;
    color: white;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: white;
}

a {
    color: black;
    text-decoration: none;
}


.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/family-3.jpg");
    background-size: cover;
    background-position: center;
}

.hero h2 {
    color:black;
    font-size: 35px;
    position: relative;
    float: right;
    margin-bottom: 0;
    margin-right: 60px;
    margin-top: 750px;
}

p {
    font-size: 22px;
}

.float-left {
    float: left;
    margin-left: 25px;
}

.float-right {
    float:left;
    margin-left: 25px;

}

.content {
    width: 100%;
    display: inline-block;
}

.About-Me {
    margin: 50px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.My-Work {
    margin: 50px;
    padding: 50px;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Contact-Me {
    margin: 50px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content img {
    max-height: 150px;
    margin-right: 20px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 50px;
    float: left;
    margin-right: 20px;
    padding: 18px;
    border-right: 2px solid black; 
    justify-content: space-between;
}

.grid-container {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: inherit;
    grid-gap: 20px;
  }
  
.grid-item {
    display: flex;
    justify-content: left;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 35px;
    color: black;
    opacity: 0.5;
  }

.grid-item:hover {
    opacity: 1;
    
}

.item-1 {
    background-image: url(../assets/images/Small-Show.png);
    background-size: contain;
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    font-size: 75px;
    font-style: italic;
    font-weight: bolder;
}

.item-2 {
    background-image: url(../assets/images/Screenshot\ \(100\).png);
    background-size: contain;
    font-style: italic;
    font-weight: bolder;
}

.item-3{
    background-image: url(../assets/images/Screenshot\ \(53\).png);
    background-size: contain;
    font-style: italic;
    font-weight: bolder;
}

.item-4 {
    background-image: url(../assets/images/Screenshot\ \(56\).png);
    background-size: contain;
    font-style: italic;
    font-weight: bolder;
}

.item-5 {
    background-image: url(../assets/images/Screenshot\ \(51\).png);
    background-size: contain;
    font-style: italic;
    font-weight: bolder;
}

.Contact-Me nav {
    padding-top: 15px;
    margin-right: 20px;
    float: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.Contact-Me nav ul {
    list-style-type: none;
}

.Contact-Me nav ul li {
    display: inline-block;
    margin-left: 25px;
    text-decoration: underline;
    font-size: 28px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 250px;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
        justify-content: center;
        background-position: center;
    }

    .About-Me {
        height: 600px;
    }

    .grid-container {
        width: 100%;
    }

    .Contact-Me {
        height: 300px;
    }
}
@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 250px;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
        justify-content: center;
        background-position: center;
    }

    .About-Me {
        height: 400px;
        
    }

    .grid-container {
        width: 100%;
    }

    .Contact-Me {
        height: 300px;
    }
}

@media screen and (max-width: 575px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 250px;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
        justify-content: center;
        background-position: center;
    }

    .About-Me {
        height: 200px;
      
    }

    .grid-container {
        width: 100%;
    }

    .Contact-Me {
        height: 300px;
    }
}

