* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: lightblue;
}

header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: navy;
    color: white;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: white;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/family-3.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 16px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 100%;
    display: inline-block;
}


.About-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.My-Work {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Contact-Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content img {
    max-height: 200px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}